name: Sync Google Sheet to CSV
concurrency:
  group: aa-map-sheet-sync
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 6,18 * * *"   # updates twice per day
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Google Sheet CSV
        run: curl -L "https://docs.google.com/spreadsheets/d/13cRZ8XGvLTqLVytn3B24FOoKyWy7p3_tUNeVwZ86bx8/gviz/tq?tqx=out:csv&sheet=Map%20Data" -o aa_map_data.csv

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add aa_map_data.csv
          git diff --cached --quiet || git commit -m "Update dataset"
          git push
